/* Importación de tipografías */
@import '@fontsource/mona-sans';
@import '@fontsource/hubot-sans';

/* Directivas de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.neutral.bg');
    color: theme('colors.neutral.text');
    font-family: theme('fontFamily.sans'); 
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: theme('fontFamily.hubot');
  }
}